*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
include
.Python

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.cabal-sandbox
.stack-work
**/cabal.config
cabal.sandbox.config
hpc_report
stack.yaml
**/dist-newstyle
**/dist
cabal.project.local
*.tix
.ghc.environment.*

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

_darcs
.boring
*~

doc/internal

.cmd_history
TAGS

# IntelliJ IDEA
.idea

TODO.org
